.issue-time-inputs {
  display: flex;
  flex-direction: row;
}

.issue-time-inputs-item {
  flex: 1;
  display: block;
  margin: 3px;
}

.message-input {
  margin: 3px;
}

label {
  font-size: 10px;
}
