#timers {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  justify-content: flex-start;
}

.timers-item {
  margin: 3px;
  font-size: 14px;
  background: var(--vscode-button-background);
  padding: 3px;
  border-radius: 3px;
}
